<div class="container  bg-2 text-4">
  <div class="row" id="logo-row">
    <div class="col-10"></div>
    <div class="col-2">
      <a href="/">
        <h2><i class="fas fa-home"></i></h2>
      </a>
    </div>

    <div class="col-12 mx-auto">
      <img src="./images/logo2.png" id="round-photo" />
    </div>
  </div>
  <div class="row" id="card-row">
    <div class="col-12">
      <h1>Important Dates</h1>
      <!-- countdown until the next event  -->
      <br>
      <h2 id='next-event'>Next Big Thing</h2>

      <h3 id="countDown"> </h3>
      <hr>

      <ul id='date-list'>


      </ul>
      {{!-- to be replaced with accordion style collapsables(see bootstrap docs) --}}


    </div>
  </div>
</div>

