<div class="container  bg-2 text-4">
  <div class="row" id="logo-row">
    <div class="col-10"></div>
    <div class="col-2">
    </div>

    <div class="col-12 mx-auto text-center">
      <img src="./images/logo2.png" id="round-photo" />
    </div>
  </div>
  <div class="row" id="card-row">
    <div class="col-12">
      <h1 class='date-header mx-auto'>Important Dates</h1>
      <!-- countdown until the next event  -->
      <div class='shadow-seperator'>
      <h2 id='next-event' class='text-3 next-event-title'>Next Big Thing</h2>

      <h3 id="countDown" class='next-event-count'></h3>
      </div>
      <div class='shadow-seperator'>
      <h3 class='more-date-header mx-auto'>Upcoming Events</h3>
      <ul id='date-list' class='text-3'>


      </ul>
      {{!-- to be replaced with accordion style collapsables(see bootstrap docs) --}}

    </div>
    </div>
  </div>
</div>

