    <div class="container  bg-2 text-4">
      <div class="row" id="logo-row">
        <div class="col-10"></div>
        <div class="col-2">
          <a href="/"
            ><h2><i class="fas fa-home"></i></h2
          ></a>
        </div>

        <div class="col-12 mx-auto">
          <img src="./images/logo2.png" id="round-photo" />
        </div>
      </div>
      <div class="row" id="card-row">
        <div class="col-12">
          <h1>Important Dates</h1>
          <!-- countdown until the next event  -->
          <br>
          <h2>Next Big Thing</h2>
          <h1>00:00:00</h1>
          <hr class='bg-3'>
          <p>event (click to drop down date)</p>
          <hr class='bg-3'>
          <p><u>Anniversary</u></p>
            <p>May 30th - 12 days away</p>
          <hr class='bg-3'>
          <p>Birthday</p>
          <hr class='bg-3'>
          <p>Turtle's Birthday</p>
          <hr class='bg-3'>
          <p>Sister's Wedding</p>
          <hr class='bg-3'>
          <p>Cat's half birthday</p>
          <hr class='bg-3'>
          <p>event (click to drop down date)</p>
          <hr class='bg-3'>
          
        </div>
      </div>
    </div>

    <script src="./js/app.js"></script>