<div class="container bg-2 text-4 mx-auto">
  <div class="row" id="logo-row">

    <div class="col-10"></div>
    <div class="col-2">
    </div>


    <div class="col-12 mx-auto text-center">
      <img src="./images/logo2.png" id="round-photo" />
    </div>
  </div>
  <div class="row" id="card-row">
    <div class="col-12">
      <h2 class='fav-title'> Clothing & Sizes </h2>
      
      <div id="accordion" class='shadow-seperator'>

      </div>

    </div>
  </div>
</div>