<div class="container bg-2 mx-auto">
  <div class="row" id="logo-row">
    <div class="col-12 mx-auto text-center">
      <img src="./images/logo2.png" id="round-photo" />
    </div>
  </div>
  <div class="row bg-2 text-4">
    <div class="col-12">

      <div class="row">
       
        <div class="col-12 ">
          <div class="shadow-seperator likes-content">
          <h3 class="likeDislike-title">Likes<button class='add-btn add-btn-like hidden' id="add-interest"> + </button></h3>



          <form id='like' >

          </form>


           <h3 class="likeDislike-title">Dislikes<button class='add-btn add-btn-dislike hidden' id="add-interest">+</button></h3>

          <form id='dislike'>
           
          </form>

          <form id='additional-interests'>

          </form>

          <button id='edit-interest' class='interest-btn'>Add</button>

          <button id='delete-interest' class='interest-btn'>Remove</button>

          
        </div>
        </div>
    </div>
  </div>




</div>
</div>
</div>