    <div class="container bg-2">
      <div class="row">
        <div class="col-10"></div>
        <div class="col-2">
          <a href="/"
            ><h2><i class="fas fa-home bg-2"></i></h2
          ></a>
        </div>
      </div>

      <div class="row" id="logo-row">
        <div class="col-12 mx-auto">
          <img src="./images/logo2.png" id="round-photo" />
        </div>
      </div>
      <div class="row bg-2 text-4">
        <div class="col-12">
          {{!-- <h3>Name for Likes</h3>
          <!-- Maybe we can find an api to do a search on these likes on click??? -->
          <ul>
            <li>
              spaghetti
            </li>

            <li>
              meatballs
            </li>

            <li>
              garlic bread
            </li>
          </ul>

          <h3>Name for Dislikes</h3>
          <!-- Maybe we can find an api to do a search on these likes on click??? -->
          <ul>
            <li>
              Long walks on short trails
            </li>

            <li>
              Naked grandma
            </li>

            <li>
              The movie 'Castaway'
            </li>
          </ul> --}}

<h3>Likes</h3>

<ul>
    {{#each interests}}
        {{#if isLike}}
          {{> interests/interests-block isLike=true}}
        {{/if}}
    {{/each}}
</ul>

<h3>Dislikes</h3>
</div>
</div>

<ul>
    {{#each interests}}
        {{#ifnot isLike}}
            {{> interests/interests-block isLike=false}}
        {{/ifnot}}
     {{/each}}
</ul>







        </div>
      </div>
    </div>
