<div class="container bg-2 text-4 mx-auto">
  <div class="row" id="logo-row">

    <div class="col-12 mx-auto text-center">
      <img src="./images/logo2.png" id="round-photo" />
    </div>
  </div>
  <div class="row" id="card-row">
    <div class="col-12">
      <h2> Their Love Language</h2>
      <!-- description what the love language is here -->

      <ul class='add-ll'>

      </ul>

    </div>
  </div>
</div>