    <div class="container">
      <div class="row" id="logo-row">

            <div class="col-10"></div>
            <div class="col-2">
              <a href="/"
                ><h2><i class="fas fa-home"></i></h2
              ></a>
            </div>
         

        <div class="col-12 mx-auto">
          <img src="https://www.place-hold.it/250x250" id="round-photo" />
        </div>
      </div>
      <div class="row" id="card-row">
        <div class="col-12">
            <h2> Their Love Language</h2>
<!-- description what the love language is here -->
            <h4>Words of Affirmation</h4>
            <p>This love language expresses love with words that build up your partner. Verbal compliments don’t have to be complicated; the shortest and simplest words of affirmation can be the most effective.</p>
            <h4>Acts of Service</h4>
            <p>This love language expresses itself by doing things that you know your spouse would like. Cooking a meal, doing the laundry, and picking up a prescription are all acts of service. They require some thought, time, and effort.</p>
            <h4>Receiving Gifts</h4>
            <p>This love language isn’t necessarily materialistic. It just means that a meaningful or thoughtful gift makes them feel appreciated and loved. Something as simple as picking up a pint of their favorite ice cream after a long work week can make an impact on this love language.</p>            
            <h4>Quality Time</h4>
            <p>This love language is all about undivided attention. No televisions, no smartphones, or any other distractions. They think talk is cheap and the type of action they want is to be your main focus.</p>
            <h4>Physical Touch</h4>
            <p>To this love language, nothing is more impactful than the physical touch of their partner. They aren’t necessarily into over-the-top PDA, but they do feel more connected and safe in a relationship by holding hands, kissing, hugging, etc.</p>
        </div>
      </div>
    </div>
