/* color pallette:

#6F0765 purple
#4C0045 dark purple
#BD512F orange
#FFB228 orange-yellow

 */

 .bg-1 {
     background: #6F0765;
 }

.bg-2 {
    background: #4C0045;
}

.bg-3 {
    background: #BD512F;
}

.bg-4{
    background: #FFB228
}


.text-1 {
    color: #6F0765;
}

.text-2 {
    color: #4C0045;
}

.text-3 {
    color: #BD512F;
}

.text-4 {
    color: #FFB228
}




body {
    background: black;
}

.container {
    width: 375px;
    height: 812px;
    border: solid 1px black;
    overflow: auto;
    background: white;
}

#round-photo {
    border-radius: 100%;
    margin-left: 31px;
    box-shadow: 0px 0px 15px #4C0045;
    margin-top: 50px;
    margin-bottom: 50px;
}

#logo-row{
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    padding: 0px;
    box-shadow: inset 15px 0px 15px #4C0045, inset -15px 0px 15px #4C0045;
    
}

#form-row {
    width: 90%;
    border: solid 1px red;
    margin: 0 auto;
}

#card-row {
    width: 100%;
    margin: 0 auto;
}

.card-text {
    background: grey;
    height: 50px;
    width: 100%;
    margin: 0;
    border: 0px solid transparent;
    text-align: right;
    bottom: 0;
    font-size: 20pt;
    padding-right: 20px;
}

.card-body {
    padding: 0px;
}

#card-row a {
    color: black;
}

#card-row a:hover {
    text-decoration: none;
}


.hidden {
    display: hidden;
}